# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Firebase (never commit credentials)
GoogleService-Info.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# VS Code
.vscode/

# Build output
build/
